<% if action == :edit %>
  <% action_url = cat_url(cat) %>
<% else %>
  <% action_url = cats_url %>
<% end %>


<form action= '<%= action_url %>' method="post">
  <% if action == :edit %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]" value= "<%=cat.name%>">
  <br>
  <br>

  <label for="birth_date">Birth Date</label>
  <input id="birth_date" type="date" name="cat[birth_date]" value= "<%=cat.birth_date%>">
  <br>
  <br>

  debugger
  <label for="color">Color</label>
  <select id = "color" name="cat[color]">
    <option disabled <%= cat.color ? "" : "selected"%> >Select a color</option>
    <option value="black" <%= cat.color == "black" ? "selected" : ""%> >black</option>
    <option value="white" <%= cat.color == "white" ? "selected" : ""%> >white</option>
    <option value="orange" <%= cat.color == "orange" ? "selected" : ""%> >orange</option>
    <option value="brown" <%= cat.color == "brown" ? "selected" : ""%> >brown</option>
  </select>
  <br>
  <br>

  <label for="sex">Sex</label>
  <br>
  <input id="sex" type="radio" name="cat[sex]" value= "M" <%= cat.sex == "M" ? "checked" : ""%>>Male<br>
  <input id="sex" type="radio" name="cat[sex]" value= "F" <%= cat.sex == "F" ? "checked" : ""%>>Female<br>
  <br>
  <br>


  <input type="submit" value="Submit edit">


</form>
